.chain{
    color:black;
    font-weight: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Times New Roman", Times, serif;

}
.chain:hover{
    color:black;
    font-weight: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Times New Roman", Times, serif;
}

.chain-last{
    font-weight: 900;

}
.chain-last:hover{
    font-weight: 900;
}