.chain{
    color:black;
    font-weight: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Times New Roman", Times, serif;

}
.chain:hover{
    
    color:black;
    font-weight: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Times New Roman", Times, serif;
}

.chain-last{
    font-weight: 900;

}
.chain-last:hover{
    font-weight: 900;
}
.Item{
    background-color: rgb(245, 238, 238);
    width:250px;
    height:380px;
    margin:5px; 
    display:inline-block;
    position: relative;
}
.Item:hover{
    box-shadow: 0px 1px 10px 3px rgba(171,136,136,0.69);
    -webkit-box-shadow: 0px 1px 10px 3px rgba(171,136,136,0.69);
    -moz-box-shadow: 0px 1px 10px 3px rgba(171,136,136,0.69);
    border: gray solid 2px;
}
.inactive{
    opacity: 0.5;
}

.avoid-clicks {
    pointer-events: none;
  }
.bg-redish{
    background-color: rgba(240, 149, 121, 0.836);
}
  .heart{
      height:25px;
      width:25px;
      background-color: red;
      position: absolute;
      bottom: 10px;
      left: 10px;
  }